.activityIndicator {

    display: none;
    position: absolute;
    z-index: 1;
    top: -8px;

}

#pac-input {
    position: absolute;
    z-index: 1;
    width: 300px;
    padding-left: 8px;
    margin-top: 10px;
    margin-left: 10px;
}


#upperRightControls {

    position: absolute;
    right: 10px;
    top: 10px;

}
