{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">

    {#Stylesheets#}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/map.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}"/>


</head>

<body>

<div id="search-div" class="z-depth-2 grey">

    <i id="search-icon" class="material-icons">search</i>
    <input id="search-input" class="white black-text flow-text" type="search" placeholder="Search for a place"/>

</div>
{#<input id="pac-input" class="white black-text flow-text" type="search"/>#}

<div class="smallScreenOverlay">

    <div class="smallScreenOverlayData white-text">
        <p><i class="material-icons">error_outline</i></p>
        <p>This website won't look good on a small screen.</p>
        <p>Please access this website from a device with a larger screen.</p>
    </div>

</div>

<div class="progress activityIndicator">
    <div class="indeterminate"></div>
</div>

<div id="upperRightControls">

    <div class="row">
        {#Filter button#}
        <a id="filterModalTrigger" data-position="left" data-delay="500" data-tooltip="View Options"
           class="waves-effect waves-light btn-floating btn-large red modal-trigger tooltipped z-depth-2"
           href="#filterModal">
            <i class="large material-icons">settings</i>
        </a>
    </div>

    <div class="valign-wrapper">
        <div class="row">
            {#"Go to my location" button#}
            <a id="myLocationButton" data-position="left" data-delay="500" data-tooltip="Go to my location"
               class="waves-effect waves-light btn-floating blue modal-trigger tooltipped z-depth-2" href="#">
                <i class="large material-icons">my_location</i>
            </a>
        </div>
    </div>

</div>

{#Filter modal#}
<div id="filterModal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>View Options</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Apply</a>
    </div>
</div>

<div id="map"></div>

{#Scripts#}
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbxx7r2xIYtpWqPgCFpR7E4ttqc-wSUCM&libraries=places&callback=initAutocomplete"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
</html>