{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {# Stylesheets #}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/map.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}"/>


</head>

<body>

<input id="pac-input" class="white black-text flow-text" type="search">
<div class="progress activityIndicator">
    <div class="indeterminate"></div>
</div>
<div id="map"></div>

{# Scripts #}
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbxx7r2xIYtpWqPgCFpR7E4ttqc-wSUCM&libraries=places&callback=initAutocomplete"></script>

</body>
</html>